<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist   
 Management System</title>
    <link rel="stylesheet" href="styleI.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Artist Management System</h1>
        <button class="login-button">Login</button>
    </div>
    <script>
        const loginButton = document.querySelector('.login-button');
        loginButton.addEventListener('click', () => {
            window.location.href = 'login.html'; // Replace 'login.html' with your actual login page URL
        });
    </script>
</body>
</html>